.DS_Store
.idea/*
*.pyc
*.pyo
*.egg-info
*.sqlite3
__pycache__
mysql.cnf
node_models/*
node_modules/*
*.swp
media/*
*.swp
*.swo
config.ini
supervisord.log
supervisord.pid
dump.rdb
ReloadSys/www/360cdn.txt
ReloadSys/www/hahaha/*
local/
logs/*
tags
.vscode/
*.pid
.vs/
*.dump
*.un*
*~
*.sql
npm-debug.log
package-lock.json
*.bak
*.report
dist/*
